/* ///////use all componet for side margin///////////// */

.container {
    margin: 0px 5%;
}

/* //////////////////////////////////////////////////// */

.navbar {
    background-color: #1C2B35;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.nav a {
    margin-left: 3rem;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}